<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/bigwiz/IdeaProjects/URLShortener/src/test/java/com/bitmutex/shortener/ForgotPasswordControllerTest.java"><classes><class name="com.bitmutex.shortener.ForgotPasswordControllerTest"><methods><include name="testShowForgotPasswordForm"/><include name="testProcessForgotPasswordUserNotFound"/></methods></class></classes></test></suite>